@layer components {
  button,
  input[type="submit"],
  input[type="button"],
  input[type="reset"] {
    cursor: pointer;
    @apply transition;
  }

  button[type="submit"]:hover,
  input[type="submit"]:hover {
    opacity: 0.85;
    translate: 0 0;
  }

  button[type="submit"]:active,
  input[type="submit"]:active {
    opacity: 0.7;
  }

  input[type="radio"] {
    cursor: pointer;
  }

  label:has(input[type="radio"]) {
    cursor: pointer;
    transition: opacity var(--default-transition-duration)
      var(--default-transition-timing-function);
  }

  label:has(input[type="radio"]):hover {
    opacity: 0.85;
  }

  label:has(input[type="radio"]):active {
    opacity: 0.7;
  }
}
