<div class="space-y-2">
  <p class="text-sm font-semibold text-primary">Required Qualifications</p>
  <%= render "shared/checkbox",
    label: "CWS vetted",
    name: "organization[required_qualifications][]",
    input_id: "organization_required_qualifications_cws_vetted",
    value: DriverQualification::QUALIFICATION_CWS_VETTED,
    checked: @required_qualifications.include?(DriverQualification::QUALIFICATION_CWS_VETTED),
    readonly: local_assigns.fetch(:readonly, false) %>
</div>
