<section class="space-y-8">
  <% if @ride_requests.empty? %>
    <p class="text-secondary">No ride requests available.</p>
  <% else %>
    <%= render_section("Your Upcoming Rides", your_upcoming_rides) %>
    <%= render_looking_for_drivers_section %>
    <%= render_section("No Longer Available", no_longer_available) %>
    <%= render_section("Your Completed Rides", your_completed_rides) %>
  <% end %>
</section>
