<%= content_tag(:tr, tr_attrs) do %>
  <!-- render tds for each column included in the list component -->
  <%= content %>

  <!-- render one more td for the action icon -->
  <td class="px-3 py-3 text-right text-primary">
    <% if @edit_path %>
      <%= link_to @edit_path, class: "inline-flex items-center" do %>
        <i class="fa-solid fa-pen-to-square text-primary/70"></i>
      <% end %>
    <% elsif @show_path %>
      <%= link_to @show_path, class: "inline-flex items-center" do %>
        <i class="fa-solid fa-eye text-primary/50"></i>
      <% end %>
    <% else %>
      <i class="fa-solid fa-lock text-primary/30"></i>
    <% end %>
  </td>
<% end %>
