<div class="mt-4 space-y-2" data-driver-roles>
  <p class="text-sm font-semibold text-forest-900">Driver Role</p>
  <label class="flex items-center gap-2 text-sm text-forest-900" for="user_driver_role_driver">
    <input type="checkbox"
           name="user[driver_role]"
           id="user_driver_role_driver"
           value="<%= UserRole::DRIVER %>"
           <%= "checked" if @selected_driver_role %>
           data-driver-role-input>
    Driver
  </label>
  <div class="ml-6 border-l border-forest-900/20 pl-4">
    <label class="flex items-center gap-2 text-sm text-forest-900" for="user_driver_qualifications_cws_vetted">
      <input type="checkbox"
             name="user[driver_qualifications][]"
             id="user_driver_qualifications_cws_vetted"
             value="<%= DriverQualification::QUALIFICATION_CWS_VETTED %>"
             <%= "checked" if @selected_driver_qualifications.include?(DriverQualification::QUALIFICATION_CWS_VETTED) %>
             data-driver-qualification-input>
      CWS vetted
    </label>
  </div>
</div>
