<% if @roles_for_global_role_input.present? %>
  <%= render "users_mutate/global_role_select" %>
<% end %>

<div style="display: none;" data-organization-roles>
  <p class="text-sm font-semibold text-forest-900">Organization Roles</p>
</div>
<%= render "users_mutate/js/toggle_organization_role_visibility" %>
