<div class="flex items-center gap-2">
  <%= form.check_box :send_login_link, checked: @send_login_link %>
  <%= form.label :send_login_link, "Send Login Link to User Email", class: "text-sm text-primary" %>
</div>
