<div class="space-y-5">
  <%= render RideRequestMutate::StepHeaderComponent.new(
    step: 4, total_steps: @total_steps,
    title: "Contact Information",
    description: "This information will only be sent to the driver who accepts the ride",
  ) %>

  <%= render contact_full_name_field %>

  <%= render contact_phone_field %>

  <%= render contact_email_field %>
</div>
