<div class="space-y-5">
  <div>
    <p class="text-base font-semibold text-primary">4 of 5: Contact Information</p>
    <p class="mt-1 text-sm text-primary/70">This information will only be sent to the driver who accepts the ride</p>
  </div>

  <%= render contact_full_name_field %>

  <%= render contact_phone_field %>

  <%= render contact_email_field %>
</div>
