<div class="space-y-5">
  <div>
    <p class="text-sm font-semibold text-forest-900">Pick Up Address</p>
    <%= render pick_up_address_field %>
  </div>

  <div>
    <p class="text-sm font-semibold text-forest-900">Private Ride Notes</p>
    <p class="mt-1 text-sm text-forest-900/70">Please provide any information that the assigned driver will need. This might include information about the rider or other information about the ride that was not already provided to potential drivers.</p>
    <%= render ride_description_private_field %>
  </div>
</div>
