<h1>Welcome</h1>

<% if user_signed_in? %>
  <p>Signed in as <%= current_identity.email %></p>
  <%= button_to "Sign out", destroy_identity_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in with magic link", new_identity_session_path %>
<% end %>
